<h1>Listing editions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Edition number</th>
      <th>Description</th>
      <th>Begin date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @editions.each do |edition| %>
      <tr>
        <td><%= edition.name %></td>
        <td><%= edition.edition_number %></td>
        <td><%= edition.description %></td>
        <td><%= edition.begin_date %></td>
        <td><%= edition.end_date %></td>
        <td><%= link_to 'Show', edition %></td>
        <td><%= link_to 'Edit', edit_edition_path(edition) %></td>
        <td><%= link_to 'Destroy', edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edition', new_edition_path %>
