<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @edition.name %>
</p>

<p>
  <strong>Edition number:</strong>
  <%= @edition.edition_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @edition.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @edition.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @edition.end_date %>
</p>

<%= link_to 'Back', editions_path %>
