<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :biography %><br />
    <%= f.text_area :biography %>
  </div>

	<div>
		<%= image_tag @user.avatar.url(:medium) %>
	</div>

  <div class="field">
    <%= f.file_field :avatar %>
	</div>

  <div class="field">
    <%= f.label :facebook_account %><br />
    <%= f.text_field :facebook_account %>
	</div>

  <div class="field">
    <%= f.label :twitter_account %><br />
    <%= f.text_field :twitter_account %>
	</div>

  <div class="field">
    <%= f.label :github_account %><br />
    <%= f.text_field :github_account %>
	</div>

  <div class="field">
    <%= f.label :google_plus_account %><br />
    <%= f.text_field :google_plus_account %>
	</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<%= link_to "Back", :back %>
