<h2>Registar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
	</div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
	</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
	</div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

	<div>
		<%= f.label :sex %>
		<div class="field">
			<%= f.label :male %>
			<%= f.radio_button :sex, UserSex::MALE %>
		</div>
		<div class="field">
			<%= f.label :female %>
			<%= f.radio_button :sex, UserSex::FEMALE %>
		</div>
	</div>

	<div id="is-univ-student">
		<%= f.label :is_univ_student %>
		<div class="field">
			<%= f.label :yes_sir %>
			<%= f.radio_button :is_univ_student, true, class: 'univ-student-info-checkbox', checked: false %>
		</div>
		<div class="field">
			<%= f.label :no_sir %>
			<%= f.radio_button :is_univ_student, false, class: 'univ-student-info-checkbox', checked: false %>
		</div>
	</div>

	<div id="is-student-at-minho-univ" hidden>
		<%= f.label :is_student_at_minho_univ %>
		<div class="field">
			<%= f.label :yes_sir %>
			<%= f.radio_button :is_student_at_minho_univ, true, class: 'univ-student-info-checkbox' %>
		</div>
		<div class="field">
			<%= f.label :no_sir %>
			<%= f.radio_button :is_student_at_minho_univ, false, class: 'univ-student-info-checkbox', checked: true %>
		</div>
		<div id="minho-univ-student-id" class="field" hidden>
			<%= f.label :minho_univ_student_id %><br />
			<%= f.text_field :minho_univ_student_id %>
		</div>
	</div>

	<div id="other-univ-info" hidden>
		<div id="university" class="field">
			<%= f.label :university %><br />
			<%= f.text_field :university %>
		</div>

		<div id="course" class="field">
			<%= f.label :course %><br />
			<%= f.text_field :course %>
		</div>
	</div>

	<div id="is-inf-eng-student-at-minho-univ" hidden>
		<%= f.label :is_inf_eng_student_at_minho_univ %><br />
		<div class="field">
			<%= f.label :yes_sir %><br />
			<%= f.radio_button :is_inf_eng_student_at_minho_univ, true, class: 'univ-student-info-checkbox' %>
		</div>
		<div class="field">
			<%= f.label :no_sir %><br />
			<%= f.radio_button :is_inf_eng_student_at_minho_univ, false, class: 'univ-student-info-checkbox', checked: true %>
		</div>
	</div>

	<div id="is-cesium-associate" hidden>
		<%= f.label :is_cesium_associate %><br />
		<div class="field">
			<%= f.label :yes_sir %><br />
			<%= f.radio_button :is_cesium_associate, true, class: 'univ-student-info-checkbox' %>
		</div>
		<div class="field">
			<%= f.label :no_sir %><br />
			<%= f.radio_button :is_cesium_associate, false, class: 'univ-student-info-checkbox', checked: true %>
		</div>
		<div id="cesium-associate-number" hidden>
			<div class="field">
				<%= f.label :cesium_associate_number %><br />
				<%= f.text_field :cesium_associate_number %>
			</div>
		</div>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= javascript_include_tag 'register-form' %>
