<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-container">
        <h2>Obter crachá</h2>

			<% 	case @error
				when BadgeAcquisition::UserAlreadyHaveBadgeError %>
					<%= "Já possui o badge requisitado!" %>
			<%	when BadgeAcquisition::InvalidCodeError %>
						<%= "O código é inválido!" %>
			<%	when BadgeAcquisition::CodeNotAvailableRightNowError %>
						<%= "O código não está disponível atualmente!" %>
			<%	when BadgeAcquisition::CodeAlreadyInUseError %>
						<%= "O código já foi usado!" %>
			<%	when BadgeAcquisition::CodeExpirationDateExcedeedError %>
						<%= "O código expirou!" %>
			<%	when Badge::ExpirationDateExcedeedError %>
						<%= "O código expirou!" %>
			<%	when NilClass %>
				<div id="badge">
					<div id="badge-name">
						Parabéns! Acabaste de ganhar a badge <%= @badge.name %>.
					</div>
					<div id="badge-logo">
						<img src="<%= @badge.logo_url %>" alt="<%= @badge.name %>" class="img-responsive">
					</div>
				</div>
			<%	else %>
					<%= @error.to_s %>
			<% 	end %>

        </div>
      </div>
    </div>
  </div>
</div>
