<div id="notice">
	<%= notice %>
</div>

<div id="badge" class="form-container">
	<div id="badge-name">
		<h1><%= @badge.name %></h1>
	</div>	
	<div id="badge-description">
		<h4><%= @badge.description %></h4>
	</div>	
	<div id="badge-category">
		Categoria: <%= @badge.category %>
	</div>	
	<div id="badge-logo">
		<img src="<%= @badge.logo_url %>" alt="<%= @badge.name %>" id="badge-logo-img">
	</div>
	<button class="back-button">
	<%= link_to 'Back', edition_badges_path(@edition) %>
	</button>
	<div id="badge-users">
		<div id="badge-users-title">
			<h2>Utilizadores com este badge</h2>
		</div>
		<div>
			<ul id="badge-users-list">
				<% @badge.users.each do |participant| %>
					<li>
						<div class="badge-participant">
								<%= image_tag participant.avatar.url(:thumb), class:'badge-participant-photo-img' %>
							<div class="badge-participant-name">
								<a href="<%= edition_participant_path(@edition, participant).sub(/\d+\z/, participant.username) %>">
									<%= participant.full_name %>
								</a>
								
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
