<div id="badge" class="form-container">
	<div id="badge-name">
		<h1><%= @badge.name %></h1>
	</div>
	<div id="badge-logo">
		<img src="<%= @badge.logo_url %>" alt="<%= @badge.name %>" id="badge-logo-img">
	</div>
	<div id="badge-users">
		<br />
		<% if (users = @badge.users).size > 0 %>
		<div id="badge-users-title">
			<h2>Utilizadores com este badge</h2>
		</div>
		<div style="margin-top: 20px">
			<div id="badge-users-list" class="row">
				<% users.each do |participant| %>
					<li class="col-sm-2">
						<div class="badge-participant">
								<%= image_tag participant.avatar.url(:thumb), class:'badge-participant-photo-img' %>
							<div class="badge-participant-name">
								<a href="<%= edition_participant_path(@edition, participant).sub(/\d+\z/, participant.username) %>">
									<%= participant.full_name %>
								</a>

							</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	<% else %>
			<h2>Não existem participantes com este badge</h2>
	<% end %>
	</div>
</div>
