<div class="container">
	<div class="col-md-12 text-center">
		<div class="col-md-4 col-md-offset-4">
			<%= image_tag @user.avatar.url, class: 'img-responsive' %>
			<h4><%= @user.full_name %></h4>
			<!-- Verificar se utilizador é estudante universitário -->
			<% if @user.is_univ_student %>
			<% if @user.is_inf_eng_student_at_minho_univ %>
			<h5>Estudante de Engenharia Informática na Universidade do Minho</h5>
			<% elsif @user.is_student_at_minho_univ %>
			<h5>Estudante na Universidade do Minho</h5>
			<% else %>
			<h5>Estudante Universitário na <%= @user.university %></h5>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="wrapper">
		<ul class="list-group">
			<li class="list-group-item-info list-group-item"><b>Email:</b> <%= @user.email %></li>
			<li class="list-group-item-info list-group-item"><b>Username:</b> <%= @user.username %></li>
			<% if @user.birthday != nil %>
			<li class="list-group-item-info list-group-item"><b>Data de nascimento:</b> <%= @user.birthday %></li>
			<% end %>
			<li class="list-group-item-info list-group-item"><b>Sexo:</b> <%= @user.sex_to_s %></li>
			<% if @user.biography != nil %>
			<li class="list-group-item-info list-group-item"><b>Biografia:</b> <%= @user.biography %></li>
			<% end %>
			<% if @user.is_student_at_minho_univ %>
			<li class="list-group-item-info list-group-item"><b>Nº de Aluno UM:</b> <%= @user.minho_univ_student_id %></li>
			<% end %>
			<% if @user.is_cesium_associate %>
			<li class="list-group-item-info list-group-item"><b>Nº de Sócio Cesium:</b> <%= @user.cesium_associate_number %></li>
			<% end %>
			<li class="list-group-item-info list-group-item"><b>Curso:</b> <%= @user.course %></li>
		</ul>
	</div>
	<br>
	<div class="wrapper">
		<h4>Social</h4>
		<% if @user.facebook_account != "" && @user.facebook_account != nil %>
		<a href="<%= @user.facebook_account%>">Facebook</a>
		<% end %>
		<% if @user.twitter_account != "" && @user.twitter_account != nil %>
		<a href="<%= @user.twitter_account%>">Twitter</a>
		<% end %>
		<% if @user.github_account != "" && @user.github_account != nil %>
		<a href="<%= @user.github_account%>">Github</a>
		<% end %>
		<% if @user.google_plus_account != "" && @user.google_plus_account != nil %>
		<a href="<%= @user.google_plus_account%>">Google Plus</a>
		<% end %>

	</div>
	
	<h3>Atividades em que se registou</h3>
	<% @user.activities.each do |activity| %>
	<div>
		<div><%= link_to activity.name, activity %></div>	
	</div>
	<% end %>
	<div>
	<h3>Badges adquiridos</h3>
	<% @user.badges.each do |badge| %>
	<div>
		<div><%= link_to badge.name, badge %></div>	
		<div><%= image_tag(badge.logo_url, alt: badge.description, size: "64") %></div>	
	</div>
	<% end %>
</div>
<%= link_to 'Back', users_path %>
</div>
