<div>
	<div><b>Email:</b> <%= @user.email %></div>
	<div><b>Username:</b> <%= @user.username %></div>
	<div><b>Nome:</b> <%= @user.full_name %></div>
	<div><b>Data de Nascimento:</b> <%= @user.birthday %></div>
	<div><b>Sexo:</b> <%= @user.sex_to_s %></div>
	<div><b>Biografia:</b> <%= @user.biography %></div>
	<div><b>Estudante Universitário?:</b> <%= @user.is_univ_student %></div>
	<div><b>Estudante da Universidade do Minho?:</b> <%= @user.is_student_at_minho_univ %></div>
	<div><b>Nº de Aluno da UM:</b> <%= @user.minho_univ_student_id %></div>
	<div><b>Estudante de E.I. na U.M.?:</b> <%= @user.is_inf_eng_student_at_minho_univ %></div>
	<div><b>Sócio do CeSIUM?:</b> <%= @user.is_cesium_associate %></div>
	<div><b>Nº de Sócio:</b> <%= @user.cesium_associate_number %></div>
	<div><b>Universidade:</b> <%= @user.university %></div>
	<div><b>Curso:</b> <%= @user.course %></div>
	<div><b>Facebook:</b> <%= @user.facebook_account %></div>
	<div><b>Twitter:</b> <%= @user.twitter_account %></div>
	<div><b>GitHub:</b> <%= @user.github_account %></div>
	<div><b>Google Plus:</b> <%= @user.google_plus_account %></div>
	<%= image_tag @user.avatar.url %>
	<div>
		<h3>Atividades em que se registou</h3>
		<% @user.activities.each do |activity| %>
			<div>
				<div><%= link_to activity.name, activity %></div>	
			</div>
		<% end %>
	</div>
	<div>
		<h3>Badges adquiridos</h3>
		<% @user.badges.each do |badge| %>
			<div>
				<div><%= link_to badge.name, badge %></div>	
				<div><%= image_tag(badge.logo_url, alt: badge.description, size: "64") %></div>	
			</div>
		<% end %>
	</div>
</div>
<div><%= link_to 'Back', users_path %></div>
