<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Begin date</th>
      <th>End date</th>
      <th>Type</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.begin_date %></td>
        <td><%= activity.end_date %></td>
        <td><%= activity.activity_type %></td>
        <td><%= activity.place %></td>
        <td><%= link_to 'Show', edition_activity_path(@edition, activity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
