<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @activity.name %>
</div>

<div>
  <strong>Description:</strong>
  <%= @activity.description %>
</div>

<div>
  <strong>Begin date:</strong>
  <%= @activity.begin_date %>
</div>

<div>
  <strong>End date:</strong>
  <%= @activity.end_date %>
</div>

<div>
  <strong>Type:</strong>
  <%= @activity.activity_type %>
</div>

<div>
  <strong>Place:</strong>
  <%= @activity.place %>
</div>

<div>
	#participante: <%= @activity.users.size %>
	<% @activity.users.each do |user| %>
		<div><%= link_to user.full_name, "/users/#{user.username}" %></div>
	<% end %>
</div>
