<%= form_for(@speaker) do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
  <div class="field">
    <%= f.label :facebook_account %><br>
    <%= f.text_field :facebook_account %>
  </div>
  <div class="field">
    <%= f.label :twitter_account %><br>
    <%= f.text_field :twitter_account %>
  </div>
  <div class="field">
    <%= f.label :github_account %><br>
    <%= f.text_field :github_account %>
  </div>
  <div class="field">
    <%= f.label :google_plus_account %><br>
    <%= f.text_field :google_plus_account %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
