<h1>Listing speakers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Photo url</th>
      <th>Biography</th>
      <th>Facebook account</th>
      <th>Twitter account</th>
      <th>Github account</th>
      <th>Google plus account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.name %></td>
        <td><%= speaker.email %></td>
        <td><%= speaker.photo_url %></td>
        <td><%= speaker.biography %></td>
        <td><%= speaker.facebook_account %></td>
        <td><%= speaker.twitter_account %></td>
        <td><%= speaker.github_account %></td>
        <td><%= speaker.google_plus_account %></td>
        <td><%= link_to 'Show', speaker %></td>
        <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
        <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speaker', new_speaker_path %>
