<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @speaker.email %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @speaker.photo_url %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @speaker.biography %>
</p>

<p>
  <strong>Facebook account:</strong>
  <%= @speaker.facebook_account %>
</p>

<p>
  <strong>Twitter account:</strong>
  <%= @speaker.twitter_account %>
</p>

<p>
  <strong>Github account:</strong>
  <%= @speaker.github_account %>
</p>

<p>
  <strong>Google plus account:</strong>
  <%= @speaker.google_plus_account %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
